<div class="wrapper">
  <div class="bar">
    <p class="rank">Rank</p>
    <p class="title">Title</p>
    <p class="rate">Rate</p>
  </div>

  <div class="container" *ngFor="let movies of data.items; index as i">
    <div class="number-holder">{{ i + 1 }}</div>
    <div class="image-holder">
       <img [src]="this.data.items[i].image" alt="imageGethered" /> 
    </div>
    <div class="content-holder">
      <h2>
        <a routerLink="details" [queryParams]="{ id: data.items[i].id }">{{
          this.data.items[i].fullTitle
        }}</a>
      </h2>
      {{ this.data.items[i].crew }}
    </div>
    <div class="rating-holder">
      <button
        type="button"
        class="btn btn-secondary"
        data-toggle="tooltip"
        data-placement="top"
        title=" IMDB Rating Count: {{
          data.items[i].imDbRatingCount | number
        }} "
        class="rating-holder"
      >
        {{ this.data.items[i].imDbRating }}
      </button>
    </div>
  </div>

  <div class="container" *ngIf="!data">
    <div class="number-holder">1</div>
    <div class="image-holder">
      <img [src]="" alt="imageGethered" />
    </div>
    <div class="content-holder">
      <h2><a routerLink="details"> test test</a></h2>
      This is a test text
    </div>
    <button
      type="button"
      class="btn btn-secondary"
      data-toggle="tooltip"
      data-placement="top"
      title="Tooltip on top"
      class="rating-holder"
    >
      9.2
    </button>
  </div>
</div>
