<div class="card-container">
  <div class="card-info">
    <a routerLink="/details" [queryParams]="{ id: postersData.imDbId }">
      <i class="bi bi-info-square"></i>
      <p>INFORMATION</p>
    </a>
  </div>
  <div class="card full-cast">
    <a routerLink="/fullcast" [queryParams]="{ id: postersData.imDbId }">
      <i class="bi bi-people-fill"></i>
      <p>FULL CAST</p>
    </a>
  </div>
  <div class="card posters">
    <a routerLink="/posters"[queryParams]="{ id: postersData.imDbId }">
      <i class="bi bi-file-earmark-richtext"></i>
      <P>POSTERS</P>
    </a>
  </div>
  <div class="card images">
    <a routerLink="/images"[queryParams]="{ id: postersData.imDbId }">
      <i class="bi bi-images"></i>
      <p>IMAGES</p>
    </a>
  </div>
  <div class="card trailer">
    <a routerLink="/trailer" [queryParams]="{ id: postersData.imDbId }">
      <i class="bi bi-film"></i>
      <p>TRAILER</p>
    </a>
  </div>
  <div class="card trailer">
    <a>
      <i class="bi bi-flag"></i>
      <p>REPORT</p>
    </a>
  </div>
</div>

<div class="wrapper">
  <div class="row mb-5">
    <div class="column">
      <div class="row">
        <div class="picture-card" *ngFor="let item of postersData.posters">
          <img src="{{ item.link }} " alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
